 body {
	margin: 0;
	padding: 0;
 }
 
 #background 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: relative; 
	 margin-left: auto; 
	 margin-right: auto; 
	 width: 800px;
	 height: 7226px; 
	 overflow: hidden;
	 z-index:0;
	} 

 #Layer1 
{ 
	 left: 0px; 
	 top: 0px; 
	 position: absolute; 
	 width: 800px;
	 height: 7226px;
	 z-index:1;
} 

 #Layer2 
{ 
	 left: 25px; 
	 top: 0px; 
	 position: absolute; 
	 width: 750px;
	 height: 6994px;
	 z-index:2;
} 

 #CompanyNameHere3176S 
{ 
	 left: 212px; 
	 top: 7049px; 
	 position: absolute; 
	 width: 381px;
	 height: 123px;
	 z-index:3;
} 

 #HeadingGoesHere 
{ 
	 left: 218px; 
	 top: 6353px; 
	 position: absolute; 
	 width: 364px;
	 height: 43px;
	 z-index:4;
} 

 #Layer46 
{ 
	 left: 362px; 
	 top: 6426px; 
	 position: absolute; 
	 width: 72px;
	 height: 4px;
	 z-index:5;
} 

 #LoremIpsumissimplydu 
{ 
	 left: 218px; 
	 top: 6479px; 
	 position: absolute; 
	 width: 366px;
	 height: 43px;
	 z-index:6;
} 

 #bg 
{ 
	 left: 33px; 
	 top: 6578px; 
	 position: absolute; 
	 width: 365px;
	 height: 406px;
	 z-index:7;
} 

 #bgcopy 
{ 
	 left: 406px; 
	 top: 6578px; 
	 position: absolute; 
	 width: 361px;
	 height: 199px;
	 z-index:8;
} 

 #bgcopy2 
{ 
	 left: 406px; 
	 top: 6785px; 
	 position: absolute; 
	 width: 361px;
	 height: 199px;
	 z-index:9;
} 

 #BG 
{ 
	 left: 25px; 
	 top: 5782px; 
	 position: absolute; 
	 width: 750px;
	 height: 492px;
	 z-index:10;
} 

 #pixcopy 
{ 
	 left: 274px; 
	 top: 5782px; 
	 position: absolute; 
	 width: 253px;
	 height: 492px;
	 z-index:11;
} 

 #ctacopy 
{ 
	 left: 566px; 
	 top: 6177px; 
	 position: absolute; 
	 width: 173px;
	 height: 49px;
	 z-index:12;
} 

 #SeeMore 
{ 
	 left: 605px; 
	 top: 6194px; 
	 position: absolute; 
	 width: 92px;
	 height: 16px;
	 z-index:13;
} 

 #Shape3 
{ 
	 left: 549px; 
	 top: 6138px; 
	 position: absolute; 
	 width: 199px;
	 height: 4px;
	 z-index:14;
} 

 #Etiamullamcorpersusp 
{ 
	 left: 552px; 
	 top: 6089px; 
	 position: absolute; 
	 width: 193px;
	 height: 32px;
	 z-index:15;
} 

 #Shape3_0 
{ 
	 left: 549px; 
	 top: 6068px; 
	 position: absolute; 
	 width: 199px;
	 height: 4px;
	 z-index:16;
} 

 #Suspendissea 
{ 
	 left: 577px; 
	 top: 6036px; 
	 position: absolute; 
	 width: 146px;
	 height: 15px;
	 z-index:17;
} 

 #Etiamullamcorper 
{ 
	 left: 586px; 
	 top: 5986px; 
	 position: absolute; 
	 width: 129px;
	 height: 15px;
	 z-index:18;
} 

 #Shape3_1 
{ 
	 left: 549px; 
	 top: 5964px; 
	 position: absolute; 
	 width: 199px;
	 height: 4px;
	 z-index:19;
} 

 #Shape3_2 
{ 
	 left: 549px; 
	 top: 6014px; 
	 position: absolute; 
	 width: 199px;
	 height: 4px;
	 z-index:20;
} 

 #Rectangle3 
{ 
	 left: 524px; 
	 top: 5780px; 
	 position: absolute; 
	 width: 252px;
	 height: 83px;
	 z-index:21;
} 

 #Platinum 
{ 
	 left: 586px; 
	 top: 5813px; 
	 position: absolute; 
	 width: 129px;
	 height: 19px;
	 z-index:22;
} 

 #layer_89 
{ 
	 left: 614px; 
	 top: 5894px; 
	 position: absolute; 
	 width: 57px;
	 height: 38px;
	 z-index:23;
} 

 #layer_24 
{ 
	 left: 596px; 
	 top: 5886px; 
	 position: absolute; 
	 width: 15px;
	 height: 24px;
	 z-index:24;
} 

 #ctacopy2 
{ 
	 left: 315px; 
	 top: 6177px; 
	 position: absolute; 
	 width: 173px;
	 height: 49px;
	 z-index:25;
} 

 #SeeMorecopy 
{ 
	 left: 354px; 
	 top: 6194px; 
	 position: absolute; 
	 width: 92px;
	 height: 16px;
	 z-index:26;
} 

 #Shape3copy7 
{ 
	 left: 297px; 
	 top: 6138px; 
	 position: absolute; 
	 width: 200px;
	 height: 4px;
	 z-index:27;
} 

 #Etiamullamcorpersusp_0 
{ 
	 left: 301px; 
	 top: 6089px; 
	 position: absolute; 
	 width: 193px;
	 height: 32px;
	 z-index:28;
} 

 #Shape3copy6 
{ 
	 left: 297px; 
	 top: 6068px; 
	 position: absolute; 
	 width: 200px;
	 height: 4px;
	 z-index:29;
} 

 #Suspendisseapellenco 
{ 
	 left: 326px; 
	 top: 6036px; 
	 position: absolute; 
	 width: 146px;
	 height: 15px;
	 z-index:30;
} 

 #Etiamullamcorpercopy 
{ 
	 left: 335px; 
	 top: 5986px; 
	 position: absolute; 
	 width: 129px;
	 height: 15px;
	 z-index:31;
} 

 #Shape3copy5 
{ 
	 left: 297px; 
	 top: 5964px; 
	 position: absolute; 
	 width: 200px;
	 height: 4px;
	 z-index:32;
} 

 #Shape3copy4 
{ 
	 left: 297px; 
	 top: 6014px; 
	 position: absolute; 
	 width: 200px;
	 height: 4px;
	 z-index:33;
} 

 #Rectangle3copy 
{ 
	 left: 274px; 
	 top: 5780px; 
	 position: absolute; 
	 width: 252px;
	 height: 83px;
	 z-index:34;
} 

 #Gold 
{ 
	 left: 365px; 
	 top: 5813px; 
	 position: absolute; 
	 width: 70px;
	 height: 19px;
	 z-index:35;
} 

 #49copy 
{ 
	 left: 364px; 
	 top: 5894px; 
	 position: absolute; 
	 width: 56px;
	 height: 38px;
	 z-index:36;
} 

 #copy 
{ 
	 left: 345px; 
	 top: 5886px; 
	 position: absolute; 
	 width: 15px;
	 height: 24px;
	 z-index:37;
} 

 #cta 
{ 
	 left: 64px; 
	 top: 6177px; 
	 position: absolute; 
	 width: 173px;
	 height: 49px;
	 z-index:38;
} 

 #SeeMore_0 
{ 
	 left: 103px; 
	 top: 6194px; 
	 position: absolute; 
	 width: 92px;
	 height: 16px;
	 z-index:39;
} 

 #Shape3copy3 
{ 
	 left: 46px; 
	 top: 6138px; 
	 position: absolute; 
	 width: 200px;
	 height: 4px;
	 z-index:40;
} 

 #Etiamullamcorpersusp_1 
{ 
	 left: 50px; 
	 top: 6089px; 
	 position: absolute; 
	 width: 193px;
	 height: 32px;
	 z-index:41;
} 

 #Shape3copy2 
{ 
	 left: 46px; 
	 top: 6068px; 
	 position: absolute; 
	 width: 200px;
	 height: 4px;
	 z-index:42;
} 

 #Suspendisseapellen 
{ 
	 left: 75px; 
	 top: 6036px; 
	 position: absolute; 
	 width: 146px;
	 height: 15px;
	 z-index:43;
} 

 #Etiamullamcorper_0 
{ 
	 left: 84px; 
	 top: 5986px; 
	 position: absolute; 
	 width: 129px;
	 height: 15px;
	 z-index:44;
} 

 #Shape3copy 
{ 
	 left: 46px; 
	 top: 5964px; 
	 position: absolute; 
	 width: 200px;
	 height: 4px;
	 z-index:45;
} 

 #Shape3_3 
{ 
	 left: 46px; 
	 top: 6014px; 
	 position: absolute; 
	 width: 200px;
	 height: 4px;
	 z-index:46;
} 

 #Rectangle3_0 
{ 
	 left: 24px; 
	 top: 5780px; 
	 position: absolute; 
	 width: 252px;
	 height: 83px;
	 z-index:47;
} 

 #Silver 
{ 
	 left: 105px; 
	 top: 5813px; 
	 position: absolute; 
	 width: 89px;
	 height: 19px;
	 z-index:48;
} 

 #layer_49 
{ 
	 left: 111px; 
	 top: 5894px; 
	 position: absolute; 
	 width: 59px;
	 height: 38px;
	 z-index:49;
} 

 #layer_50 
{ 
	 left: 94px; 
	 top: 5886px; 
	 position: absolute; 
	 width: 15px;
	 height: 24px;
	 z-index:50;
} 

 #HeadingGoesHere_0 
{ 
	 left: 218px; 
	 top: 5555px; 
	 position: absolute; 
	 width: 364px;
	 height: 43px;
	 z-index:51;
} 

 #Layer46_0 
{ 
	 left: 362px; 
	 top: 5628px; 
	 position: absolute; 
	 width: 72px;
	 height: 4px;
	 z-index:52;
} 

 #LoremIpsumissimplydu_0 
{ 
	 left: 218px; 
	 top: 5681px; 
	 position: absolute; 
	 width: 366px;
	 height: 43px;
	 z-index:53;
} 

 #Layer36copy 
{ 
	 left: 25px; 
	 top: 5000px; 
	 position: absolute; 
	 width: 384px;
	 height: 450px;
	 z-index:54;
} 

 #bg_0 
{ 
	 left: 45px; 
	 top: 5020px; 
	 position: absolute; 
	 width: 730px;
	 height: 445px;
	 z-index:55;
} 

 #Shape1 
{ 
	 left: 376px; 
	 top: 5208px; 
	 position: absolute; 
	 width: 69px;
	 height: 69px;
	 z-index:56;
} 

 #Shape1copy 
{ 
	 left: 382px; 
	 top: 5214px; 
	 position: absolute; 
	 width: 57px;
	 height: 57px;
	 z-index:57;
} 

 #arrow 
{ 
	 left: 406px; 
	 top: 5235px; 
	 position: absolute; 
	 width: 9px;
	 height: 15px;
	 z-index:58;
} 

 #HeadingGoesHereLorem 
{ 
	 left: 218px; 
	 top: 5355px; 
	 position: absolute; 
	 width: 365px;
	 height: 67px;
	 z-index:59;
} 

 #bgcopy3 
{ 
	 left: 410px; 
	 top: 4464px; 
	 position: absolute; 
	 width: 365px;
	 height: 446px;
	 z-index:60;
} 

 #Layer44copy 
{ 
	 left: 25px; 
	 top: 4498px; 
	 position: absolute; 
	 width: 47px;
	 height: 4px;
	 z-index:61;
} 

 #TitleNameGoesHereLor 
{ 
	 left: 87px; 
	 top: 4489px; 
	 position: absolute; 
	 width: 243px;
	 height: 300px;
	 z-index:62;
} 

 #Layer47 
{ 
	 left: 91px; 
	 top: 4836px; 
	 position: absolute; 
	 width: 213px;
	 height: 49px;
	 z-index:63;
} 

 #Readmore 
{ 
	 left: 142px; 
	 top: 4853px; 
	 position: absolute; 
	 width: 111px;
	 height: 16px;
	 z-index:64;
} 

 #Layer36 
{ 
	 left: 424px; 
	 top: 3756px; 
	 position: absolute; 
	 width: 351px;
	 height: 450px;
	 z-index:65;
} 

 #bg_1 
{ 
	 left: 24px; 
	 top: 3776px; 
	 position: absolute; 
	 width: 731px;
	 height: 409px;
	 z-index:66;
} 

 #bg_2 
{ 
	 left: 25px; 
	 top: 4185px; 
	 position: absolute; 
	 width: 564px;
	 height: 179px;
	 z-index:67;
} 

 #TitleNameGoesHereLor_0 
{ 
	 left: 74px; 
	 top: 4224px; 
	 position: absolute; 
	 width: 467px;
	 height: 104px;
	 z-index:68;
} 

 #TitleNameHere4LoremI 
{ 
	 left: 311px; 
	 top: 3592px; 
	 position: absolute; 
	 width: 325px;
	 height: 74px;
	 z-index:69;
} 

 #Shape2copy3 
{ 
	 left: 160px; 
	 top: 3570px; 
	 position: absolute; 
	 width: 117px;
	 height: 117px;
	 z-index:70;
} 

 #Layer33 
{ 
	 left: 184px; 
	 top: 3600px; 
	 position: absolute; 
	 width: 70px;
	 height: 60px;
	 z-index:71;
} 

 #Shape2copy2 
{ 
	 left: 160px; 
	 top: 3395px; 
	 position: absolute; 
	 width: 117px;
	 height: 117px;
	 z-index:72;
} 

 #Layer32 
{ 
	 left: 189px; 
	 top: 3424px; 
	 position: absolute; 
	 width: 60px;
	 height: 60px;
	 z-index:73;
} 

 #TitleNameHere3LoremI 
{ 
	 left: 311px; 
	 top: 3417px; 
	 position: absolute; 
	 width: 325px;
	 height: 74px;
	 z-index:74;
} 

 #Shape2copy 
{ 
	 left: 160px; 
	 top: 3219px; 
	 position: absolute; 
	 width: 117px;
	 height: 117px;
	 z-index:75;
} 

 #Layer31 
{ 
	 left: 194px; 
	 top: 3247px; 
	 position: absolute; 
	 width: 48px;
	 height: 60px;
	 z-index:76;
} 

 #TitleNameHere2LoremI 
{ 
	 left: 311px; 
	 top: 3241px; 
	 position: absolute; 
	 width: 325px;
	 height: 74px;
	 z-index:77;
} 

 #Shape2 
{ 
	 left: 160px; 
	 top: 3049px; 
	 position: absolute; 
	 width: 117px;
	 height: 117px;
	 z-index:78;
} 

 #Layer30 
{ 
	 left: 191px; 
	 top: 3083px; 
	 position: absolute; 
	 width: 56px;
	 height: 50px;
	 z-index:79;
} 

 #TitleNameHere1LoremI 
{ 
	 left: 311px; 
	 top: 3071px; 
	 position: absolute; 
	 width: 325px;
	 height: 74px;
	 z-index:80;
} 

 #pixcopy2 
{ 
	 left: 162px; 
	 top: 3189px; 
	 position: absolute; 
	 width: 477px;
	 height: 352px;
	 z-index:81;
} 

 #linecopy4 
{ 
	 left: 364px; 
	 top: 2991px; 
	 position: absolute; 
	 width: 72px;
	 height: 4px;
	 z-index:82;
} 

 #DiscovertheThings 
{ 
	 left: 172px; 
	 top: 2925px; 
	 position: absolute; 
	 width: 456px;
	 height: 51px;
	 z-index:83;
} 

 #Layer24copy 
{ 
	 left: 25px; 
	 top: 2307px; 
	 position: absolute; 
	 width: 490px;
	 height: 345px;
	 z-index:84;
} 

 #Rectangle2 
{ 
	 left: 23px; 
	 top: 2630px; 
	 position: absolute; 
	 width: 568px;
	 height: 203px;
	 z-index:85;
} 

 #Layer24 
{ 
	 left: 285px; 
	 top: 2240px; 
	 position: absolute; 
	 width: 490px;
	 height: 351px;
	 z-index:86;
} 

 #Proinexodioiaculisno 
{ 
	 left: 79px; 
	 top: 2678px; 
	 position: absolute; 
	 width: 434px;
	 height: 102px;
	 z-index:87;
} 

 #Imgbg 
{ 
	 left: 45px; 
	 top: 2263px; 
	 position: absolute; 
	 width: 709px;
	 height: 369px;
	 z-index:88;
} 

 #SimpledummytextHeadi 
{ 
	 left: 81px; 
	 top: 2520px; 
	 position: absolute; 
	 width: 365px;
	 height: 82px;
	 z-index:89;
} 

 #TitleNameHere3LoremI_0 
{ 
	 left: 459px; 
	 top: 1852px; 
	 position: absolute; 
	 width: 242px;
	 height: 128px;
	 z-index:90;
} 

 #Button 
{ 
	 left: 459px; 
	 top: 2026px; 
	 position: absolute; 
	 width: 213px;
	 height: 49px;
	 z-index:91;
} 

 #Readmore_0 
{ 
	 left: 510px; 
	 top: 2043px; 
	 position: absolute; 
	 width: 111px;
	 height: 16px;
	 z-index:92;
} 

 #Layer45 
{ 
	 left: 400px; 
	 top: 1861px; 
	 position: absolute; 
	 width: 47px;
	 height: 4px;
	 z-index:93;
} 

 #bg_3 
{ 
	 left: 25px; 
	 top: 1802px; 
	 position: absolute; 
	 width: 375px;
	 height: 348px;
	 z-index:94;
} 

 #TitleNameHere2LoremI_0 
{ 
	 left: 89px; 
	 top: 1504px; 
	 position: absolute; 
	 width: 242px;
	 height: 128px;
	 z-index:95;
} 

 #Layer44 
{ 
	 left: 25px; 
	 top: 1513px; 
	 position: absolute; 
	 width: 47px;
	 height: 4px;
	 z-index:96;
} 

 #bg_4 
{ 
	 left: 400px; 
	 top: 1454px; 
	 position: absolute; 
	 width: 375px;
	 height: 348px;
	 z-index:97;
} 

 #Buttoncopy 
{ 
	 left: 89px; 
	 top: 1678px; 
	 position: absolute; 
	 width: 213px;
	 height: 49px;
	 z-index:98;
} 

 #Readmorecopy 
{ 
	 left: 140px; 
	 top: 1695px; 
	 position: absolute; 
	 width: 111px;
	 height: 16px;
	 z-index:99;
} 

 #TitleNameHere1LoremI_0 
{ 
	 left: 459px; 
	 top: 1146px; 
	 position: absolute; 
	 width: 242px;
	 height: 128px;
	 z-index:100;
} 

 #line 
{ 
	 left: 400px; 
	 top: 1156px; 
	 position: absolute; 
	 width: 47px;
	 height: 4px;
	 z-index:101;
} 

 #bg_5 
{ 
	 left: 25px; 
	 top: 1106px; 
	 position: absolute; 
	 width: 375px;
	 height: 348px;
	 z-index:102;
} 

 #Buttoncopy2 
{ 
	 left: 459px; 
	 top: 1321px; 
	 position: absolute; 
	 width: 213px;
	 height: 49px;
	 z-index:103;
} 

 #Readmorecopy2 
{ 
	 left: 510px; 
	 top: 1338px; 
	 position: absolute; 
	 width: 111px;
	 height: 16px;
	 z-index:104;
} 

 #Layer6copy 
{ 
	 left: 478px; 
	 top: 743px; 
	 position: absolute; 
	 width: 297px;
	 height: 283px;
	 z-index:105;
} 

 #BANNERIMGBGcopy 
{ 
	 left: 45px; 
	 top: 622px; 
	 position: absolute; 
	 width: 715px;
	 height: 384px;
	 z-index:106;
} 

 #LoremIpsumissimplydu_1 
{ 
	 left: 161px; 
	 top: 845px; 
	 position: absolute; 
	 width: 477px;
	 height: 112px;
	 z-index:107;
} 

 #BG_0 
{ 
	 left: 25px; 
	 top: 600px; 
	 position: absolute; 
	 width: 750px;
	 height: 196px;
	 z-index:108;
} 

 #WelcometoCompanyName 
{ 
	 left: 199px; 
	 top: 643px; 
	 position: absolute; 
	 width: 402px;
	 height: 115px;
	 z-index:109;
} 

 #Layer6 
{ 
	 left: 25px; 
	 top: 119px; 
	 position: absolute; 
	 width: 297px;
	 height: 481px;
	 z-index:110;
} 

 #BANNERIMGBG 
{ 
	 left: 45px; 
	 top: 140px; 
	 position: absolute; 
	 width: 710px;
	 height: 460px;
	 z-index:111;
} 

 #WorkwiththeBestIndus 
{ 
	 left: 194px; 
	 top: 311px; 
	 position: absolute; 
	 width: 414px;
	 height: 96px;
	 z-index:112;
} 

 #button 
{ 
	 left: 294px; 
	 top: 460px; 
	 position: absolute; 
	 width: 213px;
	 height: 49px;
	 z-index:113;
} 

 #Readmore_1 
{ 
	 left: 345px; 
	 top: 477px; 
	 position: absolute; 
	 width: 111px;
	 height: 16px;
	 z-index:114;
} 

 #Rectangle1 
{ 
	 left: 44px; 
	 top: 73px; 
	 position: absolute; 
	 width: 55px;
	 height: 8px;
	 z-index:115;
} 

 #Capiteus 
{ 
	 left: 45px; 
	 top: 34px; 
	 position: absolute; 
	 width: 193px;
	 height: 47px;
	 z-index:116;
} 

 #youtube 
{ 
	 left: 714px; 
	 top: 38px; 
	 position: absolute; 
	 width: 40px;
	 height: 40px;
	 z-index:117;
} 

 #instagram 
{ 
	 left: 657px; 
	 top: 38px; 
	 position: absolute; 
	 width: 40px;
	 height: 40px;
	 z-index:118;
} 

 #googleplus 
{ 
	 left: 600px; 
	 top: 38px; 
	 position: absolute; 
	 width: 40px;
	 height: 40px;
	 z-index:119;
} 

 #linkedin 
{ 
	 left: 542px; 
	 top: 38px; 
	 position: absolute; 
	 width: 40px;
	 height: 40px;
	 z-index:120;
} 

 #twitter 
{ 
	 left: 485px; 
	 top: 38px; 
	 position: absolute; 
	 width: 40px;
	 height: 40px;
	 z-index:121;
} 

 #facebook 
{ 
	 left: 428px; 
	 top: 38px; 
	 position: absolute; 
	 width: 40px;
	 height: 40px;
	 z-index:122;
} 
