 body {
	padding: 10px;
  font-size: 28px;
 }

 #background
{
	 left: 0px;
	 top: 0px;
	 position: relative;
	 margin-left: auto;
	 margin-right: auto;
	 width: 800px;
	 z-index:0;
	}
#title{
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 28px;
  font-weight: bolder;
  padding-top: 12px;
}
#title2{
  padding-top: 0;
  position: absolute;
  background-color:#000080;
  color: white;
  font-size: 18px;
  font-weight: lighter;
}
#start{
  position: relative;

}

#image2 {
  position: absolute;
  top: 20px;
  right: 49px;
}
#intro2{
  font-size: 25px;
  font-weight: bolder;
  color:#191970;
}
#intro3{
  background-color:#191970;
  color:white;
   padding:20px;

}
