body {
 padding: 10px;
 font-size: 28px;
 font-family: poppins;
 color: #000000/RGB(0,0,0) ;
}
/* For mobile phones: */
[class*="col-"] {
width: 100%;
}
h3{
 font-family: Georgia, 'Times New Roman', Times, serif;
  ;
}
h2{
 font-family: abril+fatface;
 color: #f6c003/RGB(246,192,3)
}
@media only screen and (min-width: 768px) {
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}


#background
{
  left: 0px;
  top: 0px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  z-index:0;
 }
#title{
 position: absolute;
 top: 8px;
 left: 16px;
 font-size: 28px;
 font-weight: bolder;
 padding-bottom: 0;
 font-family: poppins;
 color: #000000/RGB(0,0,0) ;

 padding-top: 12px;
}
#title2{
 padding-top: 0;
 position: absolute;
 background-color:#000080;
 color: white;
 font-size: 18px;
 font-weight: lighter;
}
#start{
 position: relative;

}

#image2 {
 position: absolute;
 top: 20px;
 right: 49px;

}
#intro2{
 font-size: 25px;
 font-weight: bolder;
 color:#191970;
}
#intro3{
 background-color:#191970;
 color:white;
  padding:20px;

}
